*{
    margin: 0%;
    padding: 0%;
}

.fondo-nav{
    background-color:black
    
}

body{
    background-color: #190c27;
}


main{
    background-color: #190c27;

}

h1{
    color: #fef6df;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contacto{

    
    text-decoration: #fef6df;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 25%;
}
